@import "tailwindcss";
@config "../tailwind.config.mjs";

@theme {
  --font-family-sans: "Inter", sans-serif;
}

@layer base {
  :root {
    font-family: "Inter", sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    color-scheme: light;
    /* note: must keep in sync with `theme-color` in `theme-effect.ts` */
    @apply bg-zinc-50;
  }

  :root.dark {
    color-scheme: dark;
    /* note: must keep in sync with `theme-color` in `theme-effect.ts` */
    @apply bg-zinc-900;
  }

  :root.pause-transitions * {
    transition-duration: 0ms !important;
  }

  @supports (font-variation-settings: normal) {
    :root {
      font-family: "Inter var", sans-serif;
    }
  }
}

html {
  min-width: 360px;
  scrollbar-gutter: stable;
}

body {
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

hr {
  color: var(--color-gray-200);
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.prose .anchor {
  @apply absolute invisible no-underline;
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose .anchor:after {
  @apply text-neutral-300 dark:text-neutral-700;
  content: "#";
}

/* CODE */

pre {
  font-family: "Menlo", "Monaco", "Courier New", monospace;

  border-radius: 0 0 0.5rem 0.5rem;
  overflow-x: auto;
  padding: 1rem;
  margin: 1.5rem 0;
  line-height: 1.5;
  font-size: 14px;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

p > code {
  border-radius: 0.25rem;
  padding: 0.15rem 0.3rem;
  font-size: 0.875rem;
  @apply bg-white;
  @apply text-zinc-800;
}

.dark p > code {
  @apply bg-zinc-800;
  @apply text-zinc-100;
}

@media (prefers-color-scheme: light) {
  p > code {
    @apply bg-white;
    @apply text-zinc-800;
  }
}

@media (prefers-color-scheme: dark) {
  p > code {
    @apply bg-zinc-800;
    @apply text-zinc-100;
  }
}

/* Hide tweet actions/metadata in react-tweet embeds */
.tweet-actions_actions__0vuqK {
  display: none !important;
}
